.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 40vh; /* centers vertically */
}
.upload-box .hDEoCR {
  border: 2px dashed #000 !important;
}

.upload-box {
  height: 250px;
  border: 2px dashed #000000; /* blue outline */
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #555;
  font-family: sans-serif;
}

.upload-box p {
  margin-top: 10px;
}
